body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  .sl-root {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to top, #283E51, #0A2342);
    overflow: hidden;

    #sl-rocket {
      position: absolute;
      top: 100px;
      right: 300px;
      transform: translateY(18px) rotateZ(10deg);
      transition: all 0.025s;
      z-index: 100;

      img {
        width: 100px;
        height: 100px;
        transform: rotate(315deg);
      }

      .sl-flame {
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 50%;
        filter: blur(4px);
        transition: all 0.25s;
      }

      .sl-side-flames {
        background-image: linear-gradient(-90deg, #ff0000 28%, #ffa500 65%);
      }

      #sl-flame-bottom {
        width: 10px;
        height: 0;
        top: 100%;
        left: 50%;
        background-image: linear-gradient(0deg, #ff0000 28%, #ffa500 74%);
        transform: translate(-4px, -22px);
      }

      #sl-flame-right {
        width: 0;
        height: 10px;
        top: 25px;
        left: 60px;
      }

      #sl-flame-left {
        width: 0;
        height: 10px;
        top: 25px;
        left: 22px;
        transform: rotateY(180deg);
        transform-origin: 10px 10px;
      }
    }
  }

  .sl-stars {
    .sl-star {
      position: absolute;
      display: inline-block;
      background-color: #efefef;
      transform: rotate(45deg);
      animation: blink infinite;
    }
  }
}

//animation

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}