body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .sl-root {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to top, #283E51, #0A2342);
    overflow: hidden;

    #sl-rocket {
      position: absolute;
      top: 100px;
      right: 300px;
      transform: translateY(15px) rotateZ(10deg);
      transition: all 0.5s;

      img {
        width: 100px;
        height: 100px;
        transform: rotate(315deg);
      }
    }
  }
}