:root {
  --sky: linear-gradient(to top, #283E51, #0A2342);
  --side-flames: linear-gradient(-90deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 85%, rgba(2, 0, 36, 1) 100%);
  --main-flame: linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 85%, rgba(2, 0, 36, 1) 100%);
  --silver: #d4d4d4;
  --gray: #404040;
}

p {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: cursive, sans-serif;
  box-sizing: border-box;
  overflow: hidden;

  .sl-root {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--sky);
    overflow: hidden;

    #sl-rocket {
      position: absolute;
      top: 100px;
      right: 300px;
      transform: rotateZ(10deg);
      transition: all 0.025s;
      z-index: 100;

      #sl-booster {
        width: 16px;
        height: 60px;
        background: var(--silver);
        border: 1px solid var(--gray);
        border-radius: 3px;
        z-index: 1;
        position: relative;

        img {
          position: absolute;
          top: 10px;
          width: 17px;
        }

        .sl-booster-legs {
          position: absolute;
          width: 40px;
          height: 5px;
          border: 1px solid var(--gray);
          border-radius: 5px;
          background: var(--silver);
          bottom: -3px;
        }

        #sl-booster-right-leg {
          left: -1px;
          transform: rotate(30deg);
        }

        #sl-booster-left-leg {
          right: -1px;
          transform: rotate(150deg);
        }

        &:after {
          width: 16px;
          height: 20px;
          content: '';
          position: absolute;
          bottom: 0;
          background-color: var(--silver);
        }
      }

      .sl-flame {
        display: inline-block;
        position: absolute;
        filter: blur(4px);
        transition: all 0.25s;
      }

      .sl-side-flames {
        width: 0;
        height: 10px;
        top: 30px;
        background: var(--side-flames);
      }

      #sl-flame-bottom {
        width: 10px;
        height: 0;
        top: 100%;
        left: 50%;
        background-image: var(--main-flame);
        transform: translate(-5px, -1px);
      }

      #sl-flame-right {
        left: 15px;
      }

      #sl-flame-left {
        left: -15px;
        transform: rotateY(180deg);
        transform-origin: 10px 10px;
      }
    }

    .sl-stars {
      .sl-star {
        position: absolute;
        display: inline-block;
        background-color: var(--silver);
        transform: rotate(45deg);
        animation: blink infinite;
      }
    }

    #sl-control-status {
      display: flex;
      align-items: center;
      flex-flow: column;
      gap: 10px;
      position: absolute;
      top: 15px;
      left: 15px;
      width: 165px;
      min-width: fit-content;
      max-width: 80%;
      background: rgba(255, 255, 255, 0.55);
      border-radius: 8px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      padding: 15px 25px;
      font-weight: bold;

      .sl-control-box {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        p {
          white-space: nowrap;
        }
      }
    }

    #sl-final-message {
      position: absolute;
      top: 50%;
      left: -500px;
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      transition: all 1s;

      img {
        transform: rotate(45deg);
        margin-left: -10px;
        position: relative;
        z-index: 1;
      }

      p {
        background: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        position: relative;

        span {
          width: 0;
          height: 0;
          position: absolute;
          left: 5px;
          top: 100%;
          transform: translate(-100%, -100%);
          border-top: 15px solid transparent;
          border-bottom: 0 solid transparent;
          border-right: 15px solid #fff;
        }
      }
    }
  }
}

//animation

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}